<p>A route you have claimed, has been deleted or edited.</p>
<p>The route info:</p>
<strong>Departure address</strong>: <%= @route.departure_address %><br />
<strong>Arrival address</strong>: <%= @route.arrival_address %><br />
<strong>Start Time</strong>: <%= @route.date %><br />
<br />

<p>Thank you for using Car Pooling!</p>
 