development:
  adapter: postgresql
  encoding: unicode
  database: kangaroute_dev
  pool: 5
  username: <your_username>
  password: <your_password>

test:
  adapter: postgresql
  encoding: unicode
  database: kangaroute_test
  pool: 5
  username: <your_username>
  password: <your_password>

production:
  adapter: postgresql
  encoding: unicode
  database: kangaroute
  pool: 5
  username: <your_username>
  password: <your_password>