/*---------- show route page ----------*/
#editBtn {
  color: #333;
}
#findBtn {
  color: #fff;
}
/*---------- end show route page ----------*/

/*---------- my routes ----------*/
#myRoutes .ui-link {
  display: block;
  opacity: 0.9;
}
#myRoutes .ui-link:hover, #myRoutes .ui-link:active {
  display: block;
  background: transparent;
  opacity: 1;
}
/*---------- end of my routes ----------*/

/*---------- update route ----------*/
#editRoute input, #editRoute .ui-input-datebox {
  background: #fff;
}
#editRoute #route_map{
  margin: 15px auto;
}
#editRoute {
  padding: 0 10px 10px 10px;
}
#editRoute #updateRoute {
  float: left;
  display: block;
  width: 200px;
  margin-top: 15px; 
  margin-left: -5px;
}
#editRoute #depart {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
#editRoute #arrive {
  padding-bottom: 15px;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #ccc;
}
#editRoute #upDate {
  border-top: 1px dashed #aaa;
}
.edit_map {
margin-top: 15px !important;
}
/*---------- end of update route ----------*/





