#header {
  height: 50px;
  .container { margin-top: 8px; }
}

.content {
  background: #2A81CC image-url("home_bg.png") no-repeat;
  margin-top: -10px;
  height: 700px;
}

#intro {
  display: block;
  color: white;
  font-size: 40px;
  margin-top: 60px;
}

.homepage_sign_up .form-control {
  float: left;
  width: 20%;
  margin-right: 2%;
}

.features {
  section {
    background-color: #F8F8F8;
    margin-top: 80px;
    height: 200px;
    text-align: center;
    color: white;
    p { color: #2A81CC; }
  }

  i {
    border-radius: 50%;
    background-color: #2A81CC;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  section:hover {
    p { color: #2372b2; }
    i { background-color: #2372b2; }
  }
}
