// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#arr_map {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}

#dep_map {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}