/*----------new route page----------*/

#newRoute {
  background: url('patterns/abc.png');
}
// .ui-input-text {
  // border: 1px solid red;
  // background: transparent;
// }

#newRoute .content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 500px;
}
#newRoute label, #newRoute h1 {
  display: block;
  padding: 5px;
}
#newRoute label {
  margin-top: 3px;
  float: left;
}
#newRoute .ui-corner-all {
  border-radius: 5px;
}
#newRoute input {
  width: auto;
  margin: 0 5px;
  background: #fff;
}
#newRoute .gmap {
  margin: 10px;
  width: auto;
}
#newRoute .kmRange {
  max-width: 35px;
}
#newRoute .ui-slider {
  position: relative;
  width: 140px;
  margin: 0 10px;
}

#newRoute #depDiv {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}

#newRoute #arrDiv {
  padding-top: 15px;
  border-top: 1px dashed #aaa;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}

#newRoute #dateTimeDiv {
  padding: 15px 0;
  border-top: 1px dashed #aaa;
}

#newRoute .ui-btn-icon-notext {
  margin: 10px auto;
  float: left;
}

#newRoute #timeZone label {
  clear: both;
  display: block;
  padding: 10px;
}

#newRoute #timeZone .ui-input-datebox {
  float: left;
}

#newRoute .ui-body-c {
  vertical-align: text-top;
  background: transparent;
}

#newRoute #offerAsk {
  display: block;
  float: left;
  clear: both;
  margin: 15px 0 20px 10px;
}

#newRoute #offerAsk .ui-btn-inner {
  margin-top: -6px;
  margin-bottom: -6px;
}

#newRoute #submitNewRoute {
  margin: 0 0 20px 10px;
  width: 200px;
  clear: both;
}

/*---------- end new route page----------*/

/*----------maps----------*/

#arr_map {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}

#dep_map {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}

#route_map {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc; 
}

#mydir {
  width: 500px;
  height: 300px;
}
/*----------end maps----------*/

