<footer data-role="footer" data-theme="c" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><%= link_to "Add new route", new_route_path, "data-icon" => "star", "data-theme" => "a", :class => "footer-item" %></li>
			<li><%= link_to "My routes", routes_path, "data-icon" => "search", "data-theme" => "a", :class => "footer-item" %></li>
		</ul>
	</div>
</footer>

